# Project folders
.idea/
.vscode/

# Build directories
cmake-build-*/
build/
out/

# CMake
CMakeFiles/
CMakeCache.txt

# Doxygen
doc/

# Compiler artefacts
*.o
*.obj
*.a
*.so
*.dll
*.exe

# Logs
*.log